#ton{
display: flex;
align-content: center;
justify-content: center; 
}
#ten{
    display: flex;
    align-content: center;
    justify-content: center;
}

#tin{
    display: flex;
    align-content: center;
    justify-content: center;
}

 


@media print{
    #ton{
        display: none;
    }
    #ten{
        display: none;
    }
    #tin{
        display: none;
    }
}



